body
{
  background-color: darkgrey;
  color: floralwhite;
  text-align: center;
  font-size: 20px;
}
ramka
{
  background-color: dodgerblue;
  border-color: dimgrey;
  border-width: 10px;
}
button
{
  background-color: dodgerblue;
  border-color: dimgrey;
  border-width: 10px;
}
