body
{
  background-color: darkgrey;
  color: floralwhite;
  text-align: center;
  font: Gill Sans;
  font-size: 20px;
}
h1
{
  font-weight: bold;
}
button
{
  background-color: dodgerblue;
  border-color: dimgrey;
  border-width: 10px;
  padding: 7px;
  color: darkgrey;
  font-size: 16px;
  font: Gill Sans;
  font-weight: bold;
}
